.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}
.top-row {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.navbar-brand {
  font-size: 1.1rem;
}
.oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}
.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}
.nav-item a.active {
  color: white;
}
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 1em;
  height: 3rem;
}
.px-4 a {
  color: blue;
}
@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }
  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
